.card {
  height: 450px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px #333;
  .card-title {
  }
  .card-body {
  }
  .card-footer {
  }
  .card-actions {
  }
}
